*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font_1);
    font-size: var(--body_font-size);
    line-height: 1.5;
    /* display: flex;
    flex-direction: column;
    height: 100% */
}

html {
    /* height: 100%;
    box-sizing: border-box; */
    background-color: #fff;
    font-size: var(--html_font_size);
}
h1, h2, h3, h4, h5, h6, p, a {
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: unset;
}
button a{
    text-decoration: none;
    color: unset; 
}

:root {
    --html_font_size: 10px;
    --body_font-size: 14px;
    --font_1: 'Lato', sans-serif;
    --left_col: 40%;
    --row_padding_y: 2rem;
    --row_padding_x: 3rem;
    --pp_size: 150px;
}

/* -------------------------------------------------------------------------allignment */


footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
}


/* ----------------------------------------------------------------------Header */


header.index-header{
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 99999;
    background: transparent;
    color: #fff;
}

.menu-bar li a:hover{
    padding-bottom: 6px;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease-out;
}

#menu{
    height: 30px;
    width: 35px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    z-index: 100;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: #fff;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}


.icon .bar{
    background-color: #fff;
}
.icon #bar1{
    transform: translateY(4px) rotate(-45deg);
}
.icon #bar3{
    transform: translateY(-6px) rotate(45deg);
}
.icon #bar2{
    opacity: 0;
}
.mobile-nav{
    padding: 0;
    margin:0 20px;
    transition: 1s ease;
    display: none;
}
.change{
background-color: var(--color_4);
height: 100vh;
margin: 0;
position: absolute;
font-size: 30px;
top: 0;
left: 0;
z-index: -100;
width:100vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

/* ---------------------------------------------------------------------Index page */

/* --------------------------------------section-1 */

.section-1-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
 
}

.nav-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
button.def-btn.learnMore-btn {
    border-radius: 6px;
    padding: 20px 20px;
    font-weight: 700;
}
button.def-btn.learnMore-btn:hover {
    background-color: var(--color_2);
    color: #fff;
}
button.def-btn.Message-btn {
    padding: 20px 20px;
    font-weight: 700;
    background-color: var(--color_4);
    border-radius: 0px;
}
button.def-btn.Message-btn:hover {
    background-color: var(--color_2);
    color: #fff;
}


button.def-btn.contactUs-btn {
    border-radius: 6px;
    padding: 20px 30px;
    background-color: transparent;
    border: 2px solid #fff;
    font-weight: 700;
}
button.def-btn.contactUs-btn:hover {
    color: #fff;
    border: 2px solid #fff;
}

/* -------------------------------------------------------section-5*/

.circle-wrap-1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width: 576px) and (max-width:767px) {
    .circle-wrap-1{
        height: 150px;
        width: 150px;
    }
}
.circle-wrap-2{
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background-color:var(--color_4);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width: 576px) and (max-width:767px) {
    .circle-wrap-2{
        height: 250px;
        width: 250px;
    }
}
.circle-wrap-3{
    height: 440px;
    width: 440px;
    border-radius: 50%;
    background-color:var(--color_3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width: 576px) and (max-width:767px) {
    .circle-wrap-3{
        height: 300px;
        width: 300px;
    }
}
.circle-wrap-4{
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background-color:var(--color_1);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media (min-width: 576px) and (max-width:767px) {
    .circle-wrap-4{
        height: 220px;
        width: 220px;
    }
}

/* -----------------------------------------------------------section-7 */

.big-text-wrap {
    text-align: center;
    font-size: 245px;
    color: #fff;
    font-weight: 800;
    /* position: relative; */
    /* top: 60%; */
    z-index: 1;
    line-height: 1;
    margin-bottom: -125px;
    transition: all 0.3s ease-in-out;
}
@media (min-width: 576px) and (max-width:767px){
    .big-text-wrap{
        font-size: 95px;
        margin-bottom: -105px;

    }
}


/* -------------------------------------------------------------section-8 */

.s8-image-wrap-a1>.image-wrap>img{
height: 72px;
width: 72px;
border-radius: 50%;
}



/* -----------------------------------------------------------------About page */

/* ----------------------------------------------------Inner-page---  website-development */
.inP1-s1-wrap>.icon-wrap {
    color: white;
    display: inline-flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}