*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font_1);
    font-size: var(--body_font-size);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html {
    /* height: 100%;
    box-sizing: border-box; */
    background-color: #fff;
    font-size: var(--html_font_size);
}




h1, h2, h3, h4, h5, h6, p, a {
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: unset;
}
button a{
    text-decoration: none;
    color: unset; 
}

:root {
    --html_font_size: 1rem;
    --body_font-size: 1.4rem;
    --font_1: 'Lato', sans-serif;
    --left_col: 40%;
    --row_padding_y: 0.2rem;
    --row_padding_x: 0.3rem;
    --pp_size: 15rem;
}

/* -------------------------------------------------------------------------allignment */


footer {
    margin-top: auto;
    text-align: center;
}


/* ----------------------------------------------------------------------Header */


header.index-header{
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 99999;
    background: transparent;
    color: #fff;
}

.menu-bar li a:hover{
    padding-bottom: 0.6rem;
    border-bottom: 0.2rem solid #fff;
    transition: all 0.3s ease-out;
}

#menu{
    height: 3rem;
    width: 3.5rem;
    margin: 3rem 0 2rem 2rem;
    cursor: pointer;
    z-index: 100;
}

.bar{
    height: .5rem;
    width: 100%;
    background-color: #fff;
    display: block;
    border-radius: .5rem;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-0.4rem);
}
#bar3{
    transform: translateY(0.4rem);
}


.icon .bar{
    background-color: #fff;
}
.icon #bar1{
    transform: translateY(0.4rem) rotate(-45deg);
}
.icon #bar3{
    transform: translateY(-0.6rem) rotate(45deg);
}
.icon #bar2{
    opacity: 0;
}
.mobile-nav{
    padding: 0;
    margin:0 2rem;
    transition: 1s ease;
    display: none;
}
.mobile-nav > li{
padding: 3rem 0;
}
.change{
background-color: var(--color_4);
height: 100vh;
margin: 0;
position: absolute;
font-size: 3rem;
top: 0;
left: 0;
z-index: -100;
width:100vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

/* ---------------------------------------------------------------------Index page */

/* --------------------------------------section-1 */

.section-1-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
 
}

.nav-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}



button.def-btn.btn-one {
    border-radius: 6rem;
    padding: 2rem 3rem;
    background-color: transparent;
    border: .2rem solid #fff;
    font-size: 1.8rem;
    font-weight: 700;
}
button.def-btn.btn-one:hover {
    color: #fff;
    border: .2rem solid #fff;
    background-color: var(--color_2);
}
button.def-btn.btn-two {
    border-radius: 6rem;
    padding: 2rem 3rem;
    background-color: var(--color_1);
    border-color: var(--color_1);
    font-size: 1.8rem;
    font-weight: 700;
}
button.def-btn.btn-two:hover {
    color: #fff;
    background-color: var(--color_2);
    border-color: var(--color_2);
  
}

/* -------------------------------------------------------section-5*/

.circle-wrap-1{
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width:870px) {
    .circle-wrap-1{
        height:90vw;
        width: 90vw;
        margin: 0 auto;
    }
}
.circle-wrap-2{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background-color:var(--color_4);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width:870px) {
    .circle-wrap-2{
        height:90vw;
        width: 90vw;
        margin: 0 auto;
    }
}
.circle-wrap-3{
    height: 26vw;
    width: 26vw;
    border-radius: 50%;
    background-color:var(--color_3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width:870px) {
    .circle-wrap-3{
        height:90vw;
        width: 90vw;
        margin: 0 auto;
    }
}
.circle-wrap-4{
    height:20vw;
    width: 20vw;
    border-radius: 50%;
    background-color:var(--color_1);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media (max-width:870px) {
    .circle-wrap-4{
        height:90vw;
        width: 90vw;
        margin: 0 auto;
    }
}

/* -----------------------------------------------------------section-7 */

.big-text-wrap {
    text-align: center;
    font-size: 14rem;
    color: #fff;
    font-weight: 800;
    /* position: relative; */
    /* top: 60%; */
    z-index: 1;
    line-height: 1;
    margin-bottom: -11.2rem;
    transition: all 0.3s ease-in-out;
}
/* -------------------------------------------------------------section-8 */

.s8-image-wrap-a1>.image-wrap>img{
height: 7.2rem;
width: 7.2rem;
border-radius: 50%;
}



/* -----------------------------------------------------------------About page */

/* ----------------------------------------------------Inner-page---  website-development */
.inP1-s1-wrap>.icon-wrap {
    color: white;
    display: inline-flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: pointer;
}